extends ../layout

block content
    h1 Blog
        small What I got on mind (lately...)
    
    h2.show-more Javascript
    div.show-more-content
        p Please find bellow some topics I found interesting.
        ul
            li
                a(href='javascript/events.html')
                    h3 Events in javascript
                        small propagation, bubbling, delagating, cenceling, optimizing
            li
                a(href='javascript/functional-programming.html')
                    h3 Functional programming
                        smallwhat is the idea?
            li
                a(href='javascript/react.html')
                    h3 React
                        smallsome stuff from facebook guys