extends ../layouts/layout

block variables
    - var title = 'Events in javascript - Blog - Frontend devloper - Paweł Ziętarski'

block content
    h1 Events in javascript
        small propagation, bubbling, delagating, cenceling, optimizing
    p   There is nothing yet ...