@import 'https://fonts.googleapis.com/css?family=Roboto:300,500';

/* colors */
$color-primary: #222;
$color-secondary: #999999;
$color-link: #3399ff;
$color-header: #333;

/* headers */
$font-h1: 500 3.3rem/1.4 'Roboto', sans-serif;
$font-h2: 300 2rem/1.4 'Roboto', sans-serif;
$font-h3: 500 2rem/1.4 'Roboto', sans-serif;
$font-h4: 500 1.5rem/1.4 'Roboto', sans-serif;
$font-h5: 500 1rem/1.4 'Roboto', sans-serif;

/* text */
$font-text: 300 1.4rem/1.4 sans-serif;
$font-text-small: 300 1rem/1.4 'Roboto', sans-serif;
$font-text-link: 300 1.4rem/1.4 'Roboto', sans-serif;

/* structure */
$container-side-padding: 20px;

body {
  font: $font-text;
  color: $color-primary;
  min-width: 320px;
}

h1 {
  font: $font-h1;
  color: $color-header;
  small {
    color: $color-secondary;
    font: $font-text-small;
    display: block;
  }
}

h2 {
  font: $font-h2;
  color: $color-secondary;
  text-transform: uppercase;
}

h3 {
  color: $color-secondary;
  font: $font-h3;
}

h4 {
  color: $color-secondary;
  font: $font-h4;
}

h5 {
  color: $color-secondary;
  font: $font-h5;
}

nav ul, footer ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}

a {
  font: $font-text-link;
  color: $color-link;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  //font-size: 1.5em;
  //line-height: 1.4em;
  //color: #333;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

/* structure*/

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  & > * {
    padding: 0 $container-side-padding;
  }
}